{% extends "dashboard.html" %}
{% block user_lessons %}

<section>
    <div class="container p-5">
        <div class="row mb-5">
        </div>
        <div class="row">
            {% for lesson in current_user.lessons %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-5 d-flex align-items-stretch">
                <div class="card lesson" style="background-color: #2c2c2c; border: 1px solid #d4af37; color: #f5f5f5;">
                    <img src="{{url_for('static', filename='lesson_thumbnails/'+lesson.thumbnail)}}" class="card-img" alt="Lesson Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a class="text-decoration-none" style="color: #f0e68c;" href="{{url_for('lesson', lesson_slug=lesson.slug, course=lesson.course_name.title)}}">{{lesson.title}}</a>
                        </h5>
                        <span><img class="article-img rounded-circle" src="{{url_for('static', filename='user_pics/'+lesson.author.image_file)}}" alt="Author Image"> By: <a href="#" class="link" style="color: #f0e68c;">{{lesson.author.username}}</a></span>
                        <span class="text-muted">On: {{lesson.date_posted.strftime('%Y-%m-%d')}}</span>
                        <div class="m-auto">
                            <a href="{{url_for('new_lesson')}}" class="btn btn-info btn-sm m-1" style="background-color: #4682b4; border-color: #d4af37;">Update</a>
                            <button class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal" style="background-color: #b22222; border-color: #d4af37;">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #2c2c2c; color: #f5f5f5;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Lesson?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="filter: invert(1);"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the lesson? This cannot be undone!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #6c757d; border-color: #d4af37;">Close</button>
                            <form action="{{ url_for('delete_lesson', lesson_id=lesson.id) }}" method="POST">
                                <input type="submit" class="btn btn-danger" value="Delete" style="background-color: #b22222; border-color: #d4af37;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>

{% endblock user_lessons %}
